name: StyLuaFormatter

on:
  push:
    branches:
      - master
      - dev

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          # Make sure the actual branch is checked out when running on pull requests
          ref: ${{ github.head_ref }}
      - name: Format code
        uses: JohnnyMorganz/stylua-action@v4
        with:
            token: ${{ secrets.GITHUB_TOKEN }}
            version: latest
            args: .
      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          author_name: StyLuaFormatter
          message: "style: enforce code style"
          add: "*.lua"